.container{
    margin: auto;
}

h1{
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.calc{
    height: 370px;
    background: #ee6e94;
    padding: 10px;
    border-radius: 20px ;
    border-color: #000;
    display:inline-block;
}
#answer{
    background: #bccd95;
    width: 370px;
    height: 80px;
    color: #000;
    border-radius: 10px;
    padding-right: 10px;
    margin-bottom: 18px;
    text-align: right;
    letter-spacing: 1px;
} 

input{
    font-size: 30px;
    width: 65px;
    height: 55px;
    color: #e6e0e0;
    background-color: rgb(236, 144, 111);
    border-radius: 10px;
    margin: 5px;
    outline: none;
    border: 0px solid;
}

input[type="button"]:hover{
    cursor: pointer;
    background:#fff;
    color: #000;
}
.btn-red{
    background-color: rgb(233, 25, 25);
}

.btn-blue{
    background-color: rgb(103, 178, 207);
}

.calc{
    outline: 2px solid black;
}








